*{
    padding: 0;
    margin: 0;
}

.container
{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 3fr 3fr;
    grid-template-areas: "navbar header header header" "navbar header header header" "navbar main-content main-content sidebar" "navbar main-content main-content sidebar";
}

header
{
    grid-area: header;
}
nav
{
    grid-area: navbar;
}

main
{
    grid-area: main-content;
}

aside
{
    grid-area: sidebar;
}