*{
    padding: 0;
    margin: 0;
}

.container
{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 3fr 3fr;
    grid-template-areas: "navbar header header header" "navbar header header header" "navbar main-content main-content sidebar" "navbar main-content main-content sidebar";
}

/* Header styling */

header
{
    grid-area: header;
}

header .topBar
{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 1rem;
    /* justify-content: center; */
    align-items: center;

}

/* search bar styling */

#searchBar
{
    width: clamp(150px, 80%, 1000px);
    height: clamp(28px, 4vh, 37px);
    border-radius: 33px;
    border: none;
    background-color: #e2e6ee;
    
}
.topBar:first-child label
{
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

/* .topBar:first-child label, #searchBar
{

    margin-top: 4px;

} */
/* corner profile style */
.topBar span:last-child
{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* align-items: center; */
    /* justify-items: center; */

}

.username
{
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    /* vertical-align: middle; */
    font-weight: bold;
    /* padding: 0 1rem; */
    text-wrap: nowrap;
    align-self: center;
    margin: 7px;
}


.notifBell
{
    align-self: center;
    /* justify-self: center; */
    /* margin-right: 1.2vw; */
}
nav
{
    grid-area: navbar;
}

main
{
    grid-area: main-content;
}

aside
{
    grid-area: sidebar;
}

/* utility styling */

.icon
{
    height: 2.3em;
    width: auto;
    border-radius: 50%;
}

img[src="./placeholder-image.jpg"]
{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}
