*{
    padding: 0;
    margin: 0;
}
:root
{
    --scaling-factor: calc(6 * ((100vw - 320px) / 680));
}
/* @font-face {
    font-family: 'adventure_time_logoregular';
    src: url('./resources/adventure-time/webfontkit-20240801-133045/adventure_time_logo-webfont.woff2') format('woff2'),
         url('./resources/adventure-time/webfontkit-20240801-133045/adventure_time_logo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */
@font-face {
    font-family: 'thundermanregular';
    src: url('./resources/adventure-time/webfontkit-20240801-133450/thunderman-webfont.woff2') format('woff2'),
         url('./resources/adventure-time/webfontkit-20240801-133450/thunderman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body
{
    background-color: #e2e6ee;

}
.container
{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 5fr repeat(auto-fit, 3fr);
    grid-template-areas: "navbar header header header" "navbar header header header" "navbar main-content main-content sidebar" "navbar main-content main-content sidebar";
    font-family: 'thundermanregular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
}

.container > *
{
    box-sizing: border-box;
    max-height: 100%;
}
/* Header styling */

header
{
    grid-area: header;
    padding: 0 3vmin;
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.342);
    max-height: 20vh;
    background-color: white;
    /* max-width: 100vw; */
}

header .topBar
{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 1rem;
    /* justify-content: center; */
    align-items: center;
    margin: 0.3vmin;
}

/* search bar styling */

#searchBar
{
    width: clamp(150px, 80%, 1000px);
    height: clamp(28px, 4vh, 37px);
    border-radius: 33px;
    border: none;
    background-color: #e2e6ee;
    outline: none;
    
}
#searchBar:focus
{
    border: 2px solid #faf2a136;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.377);
    transition: all 0.3s;
}
.topBar:first-child label
{
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

/* .topBar:first-child label, #searchBar
{

    margin-top: 4px;

} */
/* corner profile style */
.topBar span:last-child
{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* align-items: center; */
    /* justify-items: center; */

}

.username
{
    font-size: calc(10px + var(--scaling-factor));
    /* vertical-align: middle; */
    font-weight: bold;
    /* padding: 0 1rem; */
    text-wrap: nowrap;
    align-self: center;
    margin: 7px;
}


.notifBell
{
    align-self: center;
    /* justify-self: center; */
    /* margin-right: 1.2vw; */
}

/* bottom bar and navigation styling */

.bottomBar
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vmin;
}

.profileCard
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    
}
.nameGreetings
{
    justify-self: left;
}

.profileOptions
{
    list-style-type: none;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-self: center;
}
.profileOptions button
{
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 2rem;
    background-color: #fd5668;
    color: #fff;
    font-family:  'thundermanregular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* navbar styling */
nav
{
    grid-area: navbar;
    background-color: #fd5668;
    color: #fff;
    /* height: 100%; */
    /* position: fixed; */
    /* width: inherit; */
    grid-row: 1/-1;
}
.logo
{
    display: flex;
    align-items: center;
    font-size: calc(16px + var(--scaling-factor));
    font-weight: bold;
}
.logo .logoBlocks
{
    display: grid;
    grid-template: repeat(3, 1.2vmin)/ repeat(2, 2vmin);
    gap: .5vmin;
    scale: calc(100px/100%);
    margin: 1vmax;

}
.logoBlocks div
{
    background-color: rgb(255, 255, 255);
}
.logoBlocks div:nth-child(1)
{
    grid-area: 1/1/3/2;
}

.logoBlocks div:nth-child(2)
{
    grid-area: 1/2/2/3;
}


.logoBlocks div:nth-child(3)
{
    grid-area: 3/1/4/2;

}

.logoBlocks div:nth-child(4)
{
    grid-area: 2/2/4/3;
}

nav ul
{
    list-style-type: none;
    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
}
.navigationPanel, .utilityPanel
{
    margin-top: 5vh;
}
nav ul li
{
    padding: 0.8rem;
}

nav ul li i
{
    margin: 0 1em;
}
/* main content styling */
main
{
    /* width: 100%; */
    /* height: 100%; */
    grid-area: main-content;
    background-color: #e2e6ee;
    z-index: -1;
    /* border: 5px solid wheat; */
}

main article
{
    
    display: grid;
    grid-template: repeat(auto-fit, minmax(180px, 1fr))/ repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-auto-rows: clamp(30px, 1fr,180px);
    margin: 1rem 2rem;
    gap: 12px;
    box-sizing: border-box;
}

.contentCard
{
    font-size: calc(6px + var(--scaling-factor));
    background-color: white;
    border-radius: 13px;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.contentCard::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.5em;
    background-color: #6d6f74;
    z-index: 2;
    border-radius: 13px 0 0 13px;
}
.contentCard p
{
    font-size: calc(3px + var(--scaling-factor));
    color: #6d6f74;    
}
.reactionIcons
{
    list-style-type: none;
    display: flex;
    /* align-self: right; */
    float: right;
    align-self: flex-end;
    
}

.reactionIcons li
{
    margin: 6%;
}

/* aside styling */
aside
{
    grid-area: sidebar;
}

.announcements, .trending
{
    margin: 1rem 2rem;
    background-color: white;
    border-radius: 13px;
    padding: 8%;
}
.announcements
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.announcements span
{

    font-size: calc(1px + var(--scaling-factor));
    color: #6d6f74;  
    border-bottom: 1px solid #6d6f7485;
    padding: 4px 0;  

}
.announcements h4
{
    font-size: calc(3px + var(--scaling-factor));
}
.trending
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.trendCard
{
    display: flex;
    gap: 1.5rem;
}
/* utility styling */

.icon
{
    height: 2.3em;
    width: auto;
    border-radius: 50%;
}

.profileImage
{
    border-radius: 50%;
    height: calc(1.9rem + 2.7vmin);
    width: auto;
}

.bigUserPhoto
{
    height: calc(1.5rem + 6.3vmin);
}

main h2:first-child, aside h2
{
    margin: 1rem 2rem;
    color: rgb(51, 49, 49);
}

button:hover
{
    cursor: pointer;
    transition: all 0.5s;
    background-color: #6d6f74;
    transform: scale(1.1);
}